* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", sans-serif;
  background-color: #e8edf3;
}

.hamburger {
  width: 50px;
  height: 49px;
  cursor: pointer;
}

.sidebar {
  position: absolute;
  background-color: white;
  height: 100vh;
  width: 300px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;

  transform: translateX(-200%);
  transition: transform 660ms;
}
.sidebar.active {
  transform: translateX(0%);
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  padding-left: 0px;

  transition: padding-left 560ms;
}
.main.active {
  padding-left: 300px;
}

.page {
  width: 80%;
  height: 100vh;

  display: flex;
  flex-direction: column;
}

/* Non essential */
h2 {
  margin-bottom: 10px;
}
.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 22px;
}
.sidebar > div {
  padding: 20px;
  cursor: pointer;
  transition: transform 140ms;
}
.sidebar > div:hover {
  transform: scale(1.2);
}

.content {
  border-radius: 10px;
  background-color: #fff;
  padding: 20px;
  flex-grow: 1;

  box-shadow: 0px 0px 20px rgb(0 0 0 / 10%);
  margin-bottom: 20px;

  position: relative;
}
.github {
  position: absolute;
  bottom: 20px;
  right: 20px;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}
.github > svg {
  width: 30px;
  display: block;
}

.container {
  padding-top: 40px;
}
