/*upload box */

@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
html {
  display: grid;
  height: 100%;
}

body {
  height: 100%;
}
.container {
  height: 350px;
  width: 430px;
  position: relative;
  place-items: center;
  text-align: center;
  align-items: center;
}
.container .wrapper {
  position: relative;
  height: 300px;
  width: 100%;
  border-radius: 10px;
  background: #fff;
  border: 2px dashed #c2cdda;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.wrapper.active {
  border: none;
}
.wrapper .image {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.wrapper .icon {
  font-size: 100px;
  color: #9658fe;
}
.wrapper .text {
  font-size: 20px;
  font-weight: 500;
  color: #5b5b7b;
}
.wrapper #cancel-btn i {
  position: absolute;
  font-size: 20px;
  right: 15px;
  top: 15px;
  color: #9658fe;
  cursor: pointer;
  display: none;
}
.wrapper.active:hover #cancel-btn i {
  display: block;
}
.wrapper #cancel-btn i:hover {
  color: #e74c3c;
}
.wrapper .file-name {
  position: absolute;
  bottom: 0px;
  width: 100%;
  padding: 8px 0;
  font-size: 18px;
  color: #fff;
  display: none;
  background: linear-gradient(135deg, #3a8ffe 0%, #9658fe 100%);
}
.wrapper.active:hover .file-name {
  display: block;
}
.container #custom-btn {
  margin-top: 30px;
  display: block;
  width: 100%;
  height: 50px;
  border: none;
  outline: none;
  border-radius: 25px;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
  background: linear-gradient(135deg, #3a8ffe 0%, #9658fe 100%);
}

/*side bar*/

body {
  text-align: center;
}

.hamburger {
  width: 50px;
  height: 49px;
  cursor: pointer;
}

.sidebar {
  position: absolute;
  background-color: white;
  height: 100vh;
  width: 300px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;

  transform: translateX(-200%);
  transition: transform 660ms;
}

.sidebar.active {
  transform: translateX(0%);
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  padding-left: 0px;

  transition: padding-left 560ms;
}

.main.active {
  padding-left: 300px;
}

.page {
  width: 80%;
  height: 100vh;

  display: flex;
  flex-direction: column;
}

/* Non essential */
h2 {
  margin-bottom: 10px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 22px;
}

.sidebar > div {
  padding: 20px;
  cursor: pointer;
  transition: transform 140ms;
}

.sidebar > div:hover {
  transform: scale(1.2);
}

.content1 {
  border-radius: 10px;
  background-color: #fff;
  padding: 20px;
  flex-grow: 1;

  box-shadow: 0px 0px 20px rgb(0 0 0 / 10%);
  margin-bottom: 20px;

  position: relative;
}

.container1 {
  padding-top: 40px;
}

/*for generate button*/

.btn {
  position: absolute;
  width: 400px;
  /*border: 3px solid #03a9f4;*/
  border-radius: 80px;
  transform: translate(-50%, -50%);
  padding: 15px 30px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 20px;
  font-weight: 500;
}

.btn:hover {
  color: #fff;
}

.btn:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, #3a8ffe 0%, #9658fe 100%);
  z-index: -1;
  transition: transform 0.5s;
  transform-origin: bottom left;
  transform: scale(0);
  border-radius: 80px;
}

.btn:hover:before {
  transition: transform 0.5s;
  transform-origin: top left;
  transform: scale(1);
}

.btn:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  border: 3px solid black;
  box-sizing: border-box;
  z-index: -1;
  transition: transform 0.5s;
  transform-origin: bottom right;
  transform: scale(1);
  border-radius: 80px;
  color: #fff;
}

.btn:hover:after {
  transition: transform 0.5s;
  transform-origin: bottom right;
  transform: scale(0);
  color: #fff;
}

/*message box*/

.col1 {
  text-align: left;
  font-weight: bold;
}

#message {
  outline: none;
  left: 550px;
  border-color: black;
  padding: 5px 10px 10px 5px;
  font-size: 13px;
  border-radius: 5px;
  width: 100%;
  box-sizing: content-box;
}

form textarea {
  padding: 5px 15px;
  width: 100px;
  left: 0;
}

/*send button*/

form button {
  margin-top: 5px;
  padding: 5px 10px;
  width: 100px;
  background: #24262b;
  color: #fff;
}
